* {
  box-sizing: border-box;
  font-family: Catamaran;
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

header {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
  height: 25vh;
}

.header-item {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#round {
  margin-top: 20px;
}

#scoreboard {
  display: grid;
  grid-template-columns: 1fr 8vw 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#choices {
  margin: 50px auto;
  width: 70vw;
  height: 20vh;
}

#announce {
  font-size: 30px;
  width: 100%;
  grid-area: announce;
}

#playerPick {
  grid-area: player;
}

#cpuPick {
  grid-area: cpu;
}

#middle {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-areas: 'player . cpu';
  width: 70vw;
  height: auto;
  margin: auto;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.choice {
  box-sizing: border-box;
  object-fit: cover;
  margin: auto;
  font-size: 50px;
  width: 70px;
}

.hide {
  visibility: hidden;
}

#playerPick,
#cpuPick,
.head {
  font-size: 60px;
}
